@import 'core/config';

@import 'core/mixins/media';

@import 'core/extends/mp';
@import 'core/extends/tf';

@import 'core/parts/columns';

* {
    @extend %mp;
    @extend %tf;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}
