@if $enable-columns {
    .row {
        display: flex;

        @for $column from 1 through $column-count {
            .col-#{$column} {
                width: $column / $column-count * 100%;
            }

            @if $column-gaps {
                .gap-#{$column} {
                    padding-left: $column / $column-count * 100%;
                }
            }

            @if $column-breakpoints {
                @each $media-breakpoint in $media-breakpoints {
                    .#{nth($media-breakpoint, 1)}-col-#{$column} {
                        @include media(#{nth($media-breakpoint, 2)}) {
                            width: $column / $column-count * 100%;
                        }
                    }

                    @if $column-gaps {
                        .#{nth($media-breakpoint, 1)}-gap-#{$column} {
                            @include media(#{nth($media-breakpoint, 2)}) {
                                padding-left: $column / $column-count * 100%;
                            }
                        }
                    }
                }
            }
        }

        @each $custom-column in $custom-columns {
            .col-#{nth($custom-column, 1)} {
                width: #{nth($custom-column, 2)};
            }

            @if $column-gaps {
                .gap-#{nth($custom-column, 1)} {
                    padding-left: #{nth($custom-column, 2)};
                }
            }

            @if $column-breakpoints {
                @each $media-breakpoint in $media-breakpoints {
                    .#{nth($media-breakpoint, 1)}-col-#{nth($custom-column, 1)} {
                        @include media(#{nth($media-breakpoint, 2)}) {
                            width: #{nth($custom-column, 2)};
                        }
                    }

                    @if $column-gaps {
                        .#{nth($media-breakpoint, 1)}-gap-#{nth($custom-column, 1)} {
                            @include media(#{nth($media-breakpoint, 2)}) {
                                padding-left: #{nth($custom-column, 2)};
                            }
                        }
                    }
                }
            }
        }
    }
}
