@import 'base-template/core/config';

@import 'base-template/core/mixins/media';

@import 'base-template/core/parts/tf';
@import 'base-template/core/parts/mp';
@import 'base-template/core/parts/columns';

* {
    margin: 0;
    padding: 0;
    position: relative;
}
